.Navbar {
  width: 100%;
  padding: 0.5rem 0;
  background-color: #fcf159;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Navbar__title {
  padding: 8px;
  text-align: center;
}

.Navbar__brand {
  color: #252e7a;
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
}

.Navbar__brand:hover {
  color: #252e7a;
  text-decoration: none;
}

.Navbar__brand-logo {
  margin-right: 0.5rem;
}